<app-modal [message]="messageGame" [route]="mesageRoute"></app-modal>

<div *ngIf="playerName !== ''; else noPlayerName">
  <div class="cards">
    <div class="card text-center w-50">
      <fa-icon [icon]="faUserNinja" class="icon primary-color"></fa-icon>
      <app-character [characterName]="playerName" [life]="lifePlayer">
      </app-character>
    </div>

    <div class="card text-center w-50">
      <fa-icon [icon]="faGhost" class="icon primary-color"></fa-icon>
      <app-character [characterName]="'Monster'" [life]="lifeMonster">
      </app-character>
    </div>
  </div>

  <div class="commands text-center py-5">
    <h3>Comandos</h3>
    <div class="buttons">
      <button
        class="btn btn-primary w-50"
        (click)="basicAttack(); monsterAttack()"
        [disabled]="!changeTurn"
      >
        Ataque
      </button>
      <button
        type="button"
        class="btn btn-danger w-50"
        (click)="specialAttack(); monsterAttack()"
        [disabled]="!changeTurn || useSpecialAttack < 2"
      >
        Ataque Especial
      </button>
      <button
        type="button"
        class="btn btn-success w-50"
        (click)="heal(); monsterAttack()"
        [disabled]="!changeTurn || lifePlayer >= 100"
      >
        Curar
      </button>
      <button type="button" class="btn btn-warning w-50" (click)="giveUp()">
        Desistir
      </button>
    </div>
  </div>

  <div class="logs">
    <h3 class="text-center">Logs</h3>
    <div class="logs-list">
      <ul class="list-group" *ngFor="let log of logs">
        <li
          class="list-group-item"
          [ngClass]="{
            'text-end': !log.player
          }"
          [ngStyle]="{
            'background-color':
              log.type === 1
                ? '#619FFC'
                : log.type == 2
                ? '#AB59B4'
                : log.type == 3
                ? '#68B08F'
                : '#E87B85'
          }"
        >
          {{ log.message }}
        </li>
      </ul>
    </div>
  </div>
</div>
<ng-template #noPlayerName>
  <app-insert-name (onSubmit)="getPlayerName($event)"></app-insert-name>
</ng-template>
