/* Cards */
.cards {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  gap: 2rem;
}

.card {
  min-width: 270px;
  border-radius: 5px;
}

.icon {
  font-size: 3em;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}

/* Commands */
.commands {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.commands .buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

@media (max-width: 768px) {
  .commands .buttons {
    flex-direction: column;
    align-items: center;
  }
}

/* Logs */
.logs {
  display: flex;
  flex-direction: column;
  
}
.logs-list {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  max-height: 275px;
  overflow-y: auto;
}

.list-group {
  padding: 1px;
}
