<div class="card-body">
  <h5 class="card-title primary-color">{{ characterName }}</h5>
  <div class="progress">
    <div
      class="progress-bar text-dark"
      role="progressbar"
      aria-label="progressbar"
      style="width: 100%"
      aria-valuenow="100"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngClass]="{
        'bg-success': life >= 50,
        'bg-warning': life >= 20 && life < 50,
        'bg-danger': life < 20
      }"
      [ngStyle]="{ width: life + '%' }"
    >
      {{ life }}%
    </div>
  </div>
</div>
