#navbar {
  border-bottom: 1px solid var(--color-gray3);
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 50px;
}

.navbar-brand span {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbarNav .navbar-nav {
  display: flex;
  justify-content: right;
  width: 100%;
}

.nav-item a {
  font-weight: 500;
  font-size: 20px;
}
