<nav class="navbar navbar-expand-lg .bg-primary-color" id="navbar">
  <div class="container py-2">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/logo.png" alt="FPF Tech Game" />
      <span>FPF Game</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/start-game">Iniciar Jogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rules">Regras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ranking">Ranking</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
