.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
}

.card {
  border-radius: 5px;
}

.icon {
  font-size: 3em;
}

.card-title {
  margin-bottom: 1.5em;
}

.btn {
  margin-top: 1.5em;
  padding: 0.6em 1.2em;
}
