<h1 class="text-center py-5">Seja bem vindo, divirta-se!</h1>

<div class="" id="mini-banners">
  <div class="cards">
    <div class="col-12 col-md-4">
      <div class="card text-center">
        <fa-icon [icon]="faGamepad" class="icon primary-color"></fa-icon>
        <div class="card-body">
          <h5 class="card-title primary-color">Novo jogo</h5>
          <p class="card-text secondary-color">"Iniciar uma nova partida"</p>
          <a class="btn btn-dark w-50" routerLink="/start-game">Iniciar</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card text-center">
        <fa-icon [icon]="faNewspaper" class="icon primary-color"></fa-icon>
        <div class="card-body">
          <h5 class="card-title primary-color">Regras</h5>
          <p class="card-text secondary-color">"Leia as regras do jogo"</p>
          <a class="btn btn-dark w-50" routerLink="/rules">Ler</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card text-center">
        <fa-icon [icon]="faRankingStar" class="icon primary-color"></fa-icon>
        <div class="card-body primary-color">
          <h5 class="card-title primary-color">Ranking</h5>
          <p class="card-text secondary-color">"Veja as melhores pontuações"</p>
          <a class="btn btn-dark w-50" routerLink="/ranking">Acessar</a>
        </div>
      </div>
    </div>
  </div>
</div>
