<h1 class="text-center py-5">Regras do jogo</h1>

<ol class="description">
  <li>Você precisa escolher o nome do seu personagem.</li>
  <li>O jogo é baseado em turnos.</li>
  <li>Você e o monstro realizam uma ação por rodada.</li>
  <li>Jogador e o monstro começam com 100 pontos de vida.</li>
  <li>O jogo termina quando uma das barras de vida chegar em 0.</li>
</ol>

<h2 class="text-center py-5">Ações do Jogador</h2>

<ol class="description">
  <li>
    <button class="btn btn-primary">Ataque</button> O jogador irá causar um dano
    no inimigo que será reduzido dos pontos de vida do mesmo, deve ser um valor
    aleatório entre 5 e 10.
  </li>

  <li>
    <button class="btn btn-danger">Ataque Especial</button>
    <ul class="description">
      <li>
        O jogador irá causar um dano no inimigo que será reduzido dos pontos de
        vida do mesmo, deve ser um valor aleatório entre 10 e 20.
      </li>
      <li>
        O ataque especial necessita de no mínimo 2 turnos após utilização e
        deverá estar desabilitado enquanto não carregado, ou seja, o botão não
        pode ser acionado por 2 turnos após sua utilização.
      </li>
      <li>
        Ao acionar o ataque especial o inimigo tem 50% de chance de não atacar
        no próximo turno, e deve ser apresentado um indicativo de que o inimigo
        está atordoado. .
      </li>
    </ul>
  </li>

  <li>
    <button class="btn btn-success">Curar</button> O jogador receberá um aumento
    nos seus pontos de vida que deverá ser um valor randômico entre 5 e 15.
  </li>

  <li>
    <button class="btn btn-warning">Desistir</button> A partida é finalizada e o
    jogador volta para o inicio do game.
  </li>
</ol>
