<div class="form">
  <form (ngSubmit)="submit()" [formGroup]="insertNameForm" #formDir="ngForm">
    <div class="card text-center">
      <fa-icon [icon]="faPlay" class="icon primary-color"></fa-icon>
      <div class="card-body">
        <h5 class="card-title primary-color">Novo Jogo</h5>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            formControlName="name"
            placeholder="Nome do personagem:"
            required
          />
        </div>
        <div *ngIf="name.invalid && formDir.submitted" class="text-danger">
          <p *ngIf="name.errors?.['required']">O username é obrigatório!</p>
        </div>
        <button
          type="submit"
          class="btn btn-dark w-50"
          data-toggle="button"
          aria-pressed="false"
          autocomplete="off"
        >
          Iniciar
        </button>
      </div>
    </div>
  </form>
</div>
