:root {
  --color-brand1: #4529e6;
  --color-brand2: #5126ea;
  --color-brand3: #b0a6f0;
  --color-brand4: #edeafd;

  --color-gray0: #0b0d0d;
  --color-gray1: #212529;
  --color-gray2: #495057;
  --color-gray3: #868e96;
  --color-gray4: #adb5bd;
  --color-gray5: #ced4da;
  --color-gray6: #dee2e6;
  --color-gray7: #e9ecef;
  --color-gray8: #f1f3f5;
  --color-gray9: #f8f9fa;
  --color-gray10: #fdfdfd;

  --color-white: #ffffff;

  --color-alert1: #cd2b31;
  --color-alert2: #fdd8d8;
  --color-alert3: #ffe5e5;

  --color-sucess1: #18794e;
  --color-sucess2: #ccebd7;
  --color-sucess3: #ddf3e4;

  --color-random1: #e34d8c;
  --color-random2: #c04277;
  --color-random3: #7d2a4d;
  --color-random4: #7000ff;
  --color-random5: #6200e3;
  --color-random6: #36007d;
  --color-random7: #349974;
  --color-random8: #2a7d5f;
  --color-random9: #153d2e;
  --color-random10: #6100ff;
  --color-random11: #5700e3;
  --color-random12: #30007d;
}

.bg-primary-color {
  background-color: var(--color-white);
}

.bg-secondary-color {
  background-color: var(--color-gray6);
}

.primary-color {
  color: var(--color-gray0);
}

.secondary-color {
  color: var(--color-gray2);
}
