<h2 class="text-center py-5">Ranking</h2>
<table class="table table-bordered" *ngIf="scores.length > 0; else noScores">
  <thead>
    <tr>
      <th scope="col">
        <fa-icon [icon]="faAward" class="icon primary-color"></fa-icon>
      </th>
      <th scope="col">Nome</th>
      <th scope="col">Data</th>
      <th scope="col">Pontuação</th>
    </tr>
  </thead>
  <tbody *ngFor="let score of scores; let i = index">
    <tr>
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ score.playerName }}</td>
      <td>{{ score.date }}</td>
      <td>{{ score.score }}</td>
    </tr>
  </tbody>
</table>
<ng-template #noScores>
  <h3 class="text-center">
    Joque uma partida e volte aqui!
  </h3>
</ng-template>
